* {
  margin: 0;
}

html, body {
  height: 100%;
}

html {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Roboto, Arial, sans-serif;
  font-size: 62.5%;
  color: white;
  background: linear-gradient(to bottom, #2473ab 0%,#1e528e 70%,#5b7983 100%);
}

body {
  font-size: 1.8rem;
  margin: 0 auto;
  text-align: center;
}

h1, h2, h3 {
  font-weight: normal;
  color: red;
}

h1 {
  font-size: 3.5rem;
  margin-bottom: 0.5rem;
}

table {
  padding-top: 2em;
  text-align: center;
  margin: auto;
}

td {
  padding: 0 15px 0 15px;
  text-align: left;
}

#editBtn {
  margin-left: 2em;
}

thead tr {
  margin-left: 5em;
}